.section-2 {
  margin-top: 0;

  &__title {
    font-size: 52px;
    font-weight: 800;
    line-height: 1.30769;
    letter-spacing: -0.182px;
    text-transform: capitalize;

    margin-bottom: 60px;

    @media screen and (max-width: 1267px) {
      font-size: 30px;
      line-height: 1.33;

      margin-bottom: 32px;
    }
  }
}