@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src:
            url('../fonts/#{$file_name}.woff2') format('woff2'),
            url('../fonts/#{$file_name}.woff') format('woff'),
            url('../fonts/#{$file_name}..eot'),
            url('../fonts/#{$file_name}..eot?#iefix') format('embedded-opentype'),
            url('../fonts/#{$file_name}.ttf');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}


//Metropolis
@include font('Metropolis', 'Metropolis/Metropolisthin', 100, 'normal');
@include font('Metropolis', 'Metropolis/Metropolisthinitalic', 100, 'italic');

@include font('Metropolis', 'Metropolis/Metropolisextralight', 200, 'normal');
@include font('Metropolis', 'Metropolis/Metropolisextralightitalic', 200, 'italic');

@include font('Metropolis', 'Metropolis/Metropolislight', 300, 'normal');
@include font('Metropolis', 'Metropolis/Metropolislightitalic', 300, 'italic');

@include font('Metropolis', 'Metropolis/Metropolis', 400, 'normal');
@include font('Metropolis', 'Metropolis/Metropolisregularitalic', 400, 'italic');

@include font('Metropolis', 'Metropolis/Metropolismedium', 500, 'normal');
@include font('Metropolis', 'Metropolis/Metropolismediumitalic', 500, 'italic');

@include font('Metropolis', 'Metropolis/Metropolissemibold', 600, 'normal');
@include font('Metropolis', 'Metropolis/Metropolissemibolditalic', 600, 'italic');

@include font('Metropolis', 'Metropolis/Metropolisbold', 700, 'normal');
@include font('Metropolis', 'Metropolis/Metropolisbolditalic', 700, 'italic');

@include font('Metropolis', 'Metropolis/Metropolisextrabold', 800, 'normal');
@include font('Metropolis', 'Metropolis/Metropolisextrabold', 800, 'italic');

@include font('Metropolis', 'Metropolis/Metropolisblack', 900, 'normal');
@include font('Metropolis', 'Metropolis/Metropolisblack', 900, 'italic');

//OpenSans
@include font('OpenSans', 'OpenSans/OpenSans-Light', 100, 'normal');
@include font('OpenSans', 'OpenSans/OpenSans-LightItalic', 100, 'italic');

@include font('OpenSans', 'OpenSans/OpenSans-Regular', 400, 'normal');
@include font('OpenSans', 'OpenSans/OpenSans-Italic', 400, 'italic');

@include font('OpenSans', 'OpenSans/OpenSans-Medium', 500, 'normal');
@include font('OpenSans', 'OpenSans/OpenSans-MediumItalic', 500, 'italic');

@include font('OpenSans', 'OpenSans/OpenSans-SemiBold', 800, 'normal');
@include font('OpenSans', 'OpenSans/OpenSans-SemiBoldItalic', 800, 'italic');

@include font('OpenSans', 'OpenSans/OpenSans-ExtraBold', 900, 'normal');
@include font('OpenSans', 'OpenSans/OpenSans-ExtraBoldItalic', 900, 'italic');
