body {
  font-family: "Metropolis", serif;
  font-size: 16px;
  line-height: 1.75;

  color: $black_color_1;

  margin-bottom: 20px;

  @media screen and (max-width: 1267px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.marker {
  display: block;

  font-weight: 800;

  background-image: url(../images/marker-back.svg);
  background-repeat: no-repeat;
  background-position: bottom;

}

.demo-theme {

  &__container {
    padding: 162px 0;

    @media screen and (max-width: 1267px) {
      padding: 185px 0;
    }
  }
}

.section {
  max-width: 1091px;

  margin: 0 auto;

  @media screen and (max-width: 1267px) {
    padding: 0 20px;
  }

  &-container {
    position: relative;

    background-color: white;

    z-index: 2;
  }

  &--grey {
    margin-top: 120px;
    padding-top: 120px;

    max-width: unset;

    background-color: $gray_color;

    @media screen and (max-width: 1267px) {
      margin-top: 60px;
      padding: 60px 0;
    }
  }

  &__title {
    &, h1 {
      text-align: center;
      color: $h1_color;
    }

    h1 {
      font-size: 56px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.182px;

      color: $h1_color;

      margin-bottom: 25px;

      @media screen and (max-width: 1267px) {
        font-size: 32px;
        line-height: 1.3125;

        margin-bottom: 24px;
      }

      span {
        font-weight: 400;
      }
    }
  }

  &__two-colons-row {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1440px;
    margin: 0 auto;

    @media screen and (max-width: 1267px) {
      flex-direction: column;

      padding: 0 20px;

      max-width: 768px;
    }

    & + .section__two-colons-row {
      margin-top: 120px;
    }
  }

  &__colon {
    &-right {
      max-width: 519px;
      flex: 0 0 519px;

      margin-left: 85px;

      @media screen and (max-width: 1267px) {
        margin-left: 0;

        max-width: 100%;
        flex: 0 0 100%;
      }
    }

    &-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.6;
      letter-spacing: 0.1px;
      text-transform: capitalize;

      margin-bottom: 12px;

      @media screen and (max-width: 1267px) {
        font-size: 20px;
        line-height: 1.8;

        margin-bottom: 16px;
      }
    }

    &-text {
      padding-right: 7px;

      margin-bottom: 32px;

      @media screen and (max-width: 1267px) {
        padding-right: 0;

        margin-bottom: 24px;

        br {
          display: none;
        }
      }

      p {
        margin-top: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__video {

    &-button {
      margin-bottom: 20px;

      @media screen and (max-width: 1267px) {
        margin-bottom: 16px;
      }
    }

    &-link {
      display: flex;
      align-items: center;

      text-align: center;
      font-family: Metropolis, serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      text-transform: capitalize;

      @media screen and (max-width: 1267px) {
        font-size: 14px;
        line-height: 1.71;
      }

      &:hover {
        img {
          transition: all 0.5s ease-out;
          transform: scale(1.1);
        }
      }

      img {
        margin-right: 16px;

        @media screen and (max-width: 1267px) {
          width: 56px;
          height: 56px;
        }
      }
    }
  }

  &__button {
    @media screen and (max-width: 1267px) {
      text-align: center;
    }

    span {
      display: inline-block;

      line-height: 1.5;

      color: $blue_color;

      margin-left: 12px;
      margin-bottom: 12px;
    }
  }

  &__btn {
    &, &:visited {
      display: block;

      max-width: fit-content;

      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;

      text-align: center;

      color: white;

      padding: 16px 24px;
      border-radius: 32px;

      background-color: $blue_color;

      @media screen and (max-width: 1267px) {
        max-width: fit-content;

        min-width: 275px;

        margin: 0 auto;

        font-size: 14px;
        line-height: 1.71;
      }
    }

    &:hover {
      background-color: white;
      color: $blue_color;

      border: 1px solid $blue_color;

      text-decoration: none;

      transition: all 0.5s ease-out;
    }
  }
}